page-login {
  background-color: color($colors, light);

  img {
    margin-top: 50px;
  }

  button[ion-button] {
    display: inline-block;
    padding: 15px 32px;
    margin: 4px 2px;
    font-size: 18px;
    cursor: pointer;
    height: 2.5em;
    border-radius: 10px;
    color: white;
    background-color: color($colors, primary);
  }

  h1 {
    color: color($colors, text-color);
    font-family: 'Bungee', cursive;
    font-size: 2em;
    letter-spacing: 2px;
    text-align: center;

    span {
      color: color($colors, primary);
    }
  }
}
