<ion-header>
  <ion-navbar color='primary'>
    <ion-title>{{ intake || 'Exam Schedule' }}</ion-title>
    <ion-buttons end>
      <button color="light" ion-button outline small (click)="presentActionSheet()">
        Intakes
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor='let exam of exam$ | async'>
    <ion-card-header>
      <b>{{ exam.subjectDescription }}</b>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item no-padding>
          Module
          <p item-right>{{ exam.module }}</p>
        </ion-item>
        <ion-item no-padding>
          Venue
          <p item-right>{{ exam.venue }}</p>
        </ion-item>
        <ion-item no-padding>
          Date Time
          <p item-right>{{ exam.since | date:'medium' }}</p>
        </ion-item>
        <ion-item no-padding>
          Dockets Due
          <p item-right>{{ exam.docketsDue | date }}</p>
        </ion-item>
        <ion-item *ngIf="exam.appraisalsDue" no-padding>
          Appraisals Due
          <p item-right>{{ exam.appraisalsDue | date }}</p>
        </ion-item>
        <ion-item *ngIf="exam.resultDate" no-padding>
          Result Release Date
          <p item-right>{{ exam.resultDate | date }}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
