<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Fees
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf='totalSummary$ | async as totalSummary' class="total-summary" [style.background]="totalSummary[0].TOTAL_OUTSTANDING == 0 ? '#0dbd53' : '#f04141'"
    padding>
    <ion-item class="total-summary" [style.background]="totalSummary[0].TOTAL_OUTSTANDING == 0 ? '#0dbd53' : '#f04141'">
      Total Payable
      <ion-note color='light' item-right>{{ totalSummary[0]?.TOTAL_PAYABLE || 0 }}</ion-note>
    </ion-item>
    <ion-item class="total-summary" [style.background]="totalSummary[0].TOTAL_OUTSTANDING == 0 ? '#0dbd53' : '#f04141'">
      Total Paid
      <ion-note color='light' item-right>{{ totalSummary[0]?.TOTAL_PAID || 0 }}</ion-note>
    </ion-item>
    <ion-item class="total-summary" [style.background]="totalSummary[0].TOTAL_OUTSTANDING == 0 ? '#0dbd53' : '#f04141'">
      Total Outstanding
      <ion-note color='light' item-right>{{ totalSummary[0]?.TOTAL_OUTSTANDING || 0 }}</ion-note>
    </ion-item>
    <ion-item class="total-summary" [style.background]="totalSummary[0].TOTAL_OUTSTANDING == 0 ? '#0dbd53' : '#f04141'">
      Total Overdue
      <ion-note color='light' item-right>{{ totalSummary[0]?.TOTAL_OVERDUE || 0 }}</ion-note>
    </ion-item>
    <ion-item class="total-summary" [style.background]="totalSummary[0].TOTAL_OUTSTANDING == 0 ? '#0dbd53' : '#f04141'">
      Fine
      <ion-note color='light' item-right>{{ totalSummary[0]?.FINE || 0 }}</ion-note>
    </ion-item>
  </ion-card>

  <ion-segment [(ngModel)]="selectedSegment">
    <ion-segment-button value="Summary">Summary</ion-segment-button>
    <ion-segment-button value="Bank Draft">Bank Draft</ion-segment-button>
    <ion-segment-button value="Details">Details</ion-segment-button>
  </ion-segment>

  <ng-container [ngSwitch]='selectedSegment'>
    <ng-container *ngSwitchCase="'Summary'">
      <ion-card *ngFor='let summary of summary$ | async'>
        <h4 margin>{{ summary.INVOICE_DESCRIPTION }}</h4>
        <ion-card-content no-padding>
          <ion-item>
            Due Date
            <ion-note color='text-color' item-right>{{ summary.PAYMENT_DUE_DATE || 'N/A' }}</ion-note>
          </ion-item>
          <ion-item>
            Amount Payable
            <ion-note color='text-color' item-right>{{ summary.PAYABLE_AMOUNT || 'N/A' }}</ion-note>
          </ion-item>
          <ion-item>
            Total Collected
            <ion-note color='text-color' item-right>{{ summary.TOTAL_COLLECTED || 'N/A' }}</ion-note>
          </ion-item>
          <ion-item>
            Outstanding
            <ion-note color='text-color' item-right>{{ summary.OUTSTANDING || 'N/A' }}</ion-note>
          </ion-item>
          <ion-item>
            Fine
            <ion-note color='text-color' item-right>{{ summary.FINE || 'N/A' }}</ion-note>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <ng-container *ngSwitchCase="'Bank Draft'">
      <ion-card *ngFor='let bankDraft of bankDraft$ | async'>
        <ion-list-header>{{ bankDraft.COURSE_CODE || 'Course Code' }}</ion-list-header>
        <ion-card-content no-padding>
          <ion-item>
            Bank Draft Amount
            <ion-note color='text-color' item-right>{{ bankDraft.BANKDRAFT_AMOUNT }}</ion-note>
          </ion-item>
          <ion-item>
            Due Date
            <ion-note color='text-color' item-right>{{ bankDraft.BANKDRAFT_DUE_DATE }}</ion-note>
          </ion-item>
          <ion-item>
            Date Collected
            <ion-note color='text-color' item-right>{{ bankDraft.DATE_COLLECTED }}</ion-note>
          </ion-item>
          <ion-item>
            Registration Date
            <ion-note color='text-color' item-right>{{ bankDraft.REGISTRATION_DATE }}</ion-note>
          </ion-item>
          <ion-item>
            Amount Collected
            <ion-note color='success' item-right>{{ bankDraft.AMOUNT_COLLECTED }}</ion-note>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ng-container>
    <ng-container *ngSwitchCase="'Details'">
      <ion-card *ngFor='let details of details$ | async | rev'>
        <h4 margin>{{ details.ITEM_DESCRIPTION }}</h4>
        <ion-card-content no-padding>
          <ion-item>
            Due Date
            <ion-note color='text-color' item-right>{{ details.DUE_DATE }}</ion-note>
          </ion-item>
          <ion-item>
            Amount Payable
            <ion-note color='text-color' item-right>{{ details.AMOUNT_PAYABLE }}</ion-note>
          </ion-item>
          <ion-item>
            Total Collected
            <ion-note color='success' item-right>{{ details.TOTAL_COLLECTED }}</ion-note>
          </ion-item>
          <ion-item>
            Outstanding
            <ion-note color='danger' item-right>{{ details.OUTSTANDING }}</ion-note>
          </ion-item>
          <ion-item>
            Fine
            <ion-note color='warn' item-right>{{ details.FINE }}</ion-note>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ng-container>
</ion-content>
