<ion-header>
  <ion-navbar color="primary">
    <ion-title>Staff Directory</ion-title>
  </ion-navbar>
</ion-header>

<ion-content overflow-scroll='true'> <!-- staff is not [] -->
  <ion-refresher pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list no-lines>
    <ion-item>
      <ion-searchbar [(ngModel)]="term">
      </ion-searchbar>
    </ion-item>
    <ion-item *ngIf="staffType$ | async as staffTypes">
      <ion-label floating>Functional Area</ion-label>
      <ion-select [(ngModel)]="dept" interface="popover">
        <ion-option selected></ion-option>
        <ion-option *ngFor="let type of staffTypes"
          [innerHTML]="type.toUpperCase()" [value]="type"></ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list [virtualScroll]="staff$ | async | in:dept | search:term">
    <ion-item *virtualItem="let staff"
      navPush="StaffDirectoryInfoPage" [navParams]="{id: staff.CODE}">
      <ion-avatar item-start>
        <img [src]="staff.PHOTO" onerror="this.src='assets/img/profile.svg'">
      </ion-avatar>
      <h2>{{ staff.FULLNAME }}</h2>
      <p>{{ staff.EMAIL }}</p>
    </ion-item>
  </ion-list>
</ion-content>
