<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ (staff$ | async)?.TITLE }} Info</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ng-template let-staff [ngIf]="staff$ | async">
    <div class="staff-directory-info-header">
      <ng-template [ngIf]="staff.PHOTO" [ngIfElse]="errorIcon">
        <img [src]="staff.PHOTO" onerror="this.src='assets/img/profile.svg'">
      </ng-template>
      <ng-template #errorIcon>
        <ion-icon name="contacts"></ion-icon>
      </ng-template>
    </div>
    <ion-list>
      <ion-item>
        <h2>{{ staff.FULLNAME }}</h2>
      </ion-item>
      <ion-item>
        <a href="mailto:{{ staff.EMAIL }}">
          <h2>{{ staff.EMAIL }}</h2>
        </a>
      </ion-item>
      <ion-item *ngIf="staff.EXTENSION">
        <a href="tel:{{ staff.EXTENSION }}">
          <h2>{{ staff.EXTENSION }}</h2>
        </a>
      </ion-item>
      <ion-list-header>Functional Area</ion-list-header>
      <ion-item *ngIf="staff.DEPARTMENT.trim()" [innerHTML]="staff.DEPARTMENT"></ion-item>
      <ion-item *ngIf="staff.DEPARTMENT2.trim()" [innerHTML]="staff.DEPARTMENT2"></ion-item>
      <ion-item *ngIf="staff.DEPARTMENT3.trim()" [innerHTML]="staff.DEPARTMENT3"></ion-item>
    </ion-list>
    <lecturer-timetable *ngIf="staff.TITLE === 'Lecturer'" [id]="staff.CODE"></lecturer-timetable>
  </ng-template>
</ion-content>
