<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Feedback
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item no-padding>
    <ion-label floating>Full name</ion-label>
    <ion-input #autofocus disabled [(ngModel)]="feedbackData.name" [ngModelOptions]="{standalone: true}">
    </ion-input>
  </ion-item>
  <ng-template [ngIf]="this.role===1">
    <ion-item no-padding>
      <ion-label floating>ID</ion-label>
      <ion-input disabled type="text" [(ngModel)]="feedbackData.studentNumber" [ngModelOptions]="{standalone: true}">
      </ion-input>
    </ion-item>
  </ng-template>
  <ion-item no-padding>
    <ion-label floating>Contact Number</ion-label>
    <ion-input type="tel" [(ngModel)]="feedbackData.contactNumber" [ngModelOptions]="{standalone: true}">
    </ion-input>
  </ion-item>
  <ion-item no-padding>
    <ion-label floating>Message</ion-label>
    <ion-textarea [(ngModel)]="feedbackData.message" [ngModelOptions]="{standalone: true}">
    </ion-textarea>
  </ion-item>
  <button ion-button round full margin-top (click)="sendEmail()" [disabled]="!feedbackData.name || !feedbackData.studentNumber || !feedbackData.contactNumber || !feedbackData.message">
    Submit
  </button>
</ion-content>
