<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="intakes$ | async">
      {{this.selectedIntake || 'Results'}}
    </ion-title>
    <ion-buttons *ngIf="!this.block" end>
      <button color="light" ion-button outline small (click)="showActionSheet()">
        Intakes
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ng-template [ngIf]="this.block">
    <ion-card style="background: #f04141">
      <ion-card-header>
        <ion-icon class="warning-logo" name="alert"></ion-icon>
      </ion-card-header>
      <ion-card-content class="content-message">
        <ion-note class="block-note">
          {{ (profile$ | async)[0].MESSAGE }}
        </ion-note>
      </ion-card-content>
    </ion-card>
  </ng-template>
  <ion-refresher *ngIf="this.block==false" pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <chart margin-top *ngIf="data" [type]="type" [data]="data" [options]="options"></chart>

  <ion-card>
    <div *ngFor="let details of courseDetails$ | async" class="total-summary">
      <div *ngIf="details.SEMESTER">
        <ion-card-header class="semester-header" color="light">SEMESTER {{details.SEMESTER}}</ion-card-header>
        <ion-item class="total-summary">
          Total Modules Passed
          <ion-note color="light" item-right>{{details.TOTAL_MODULES_PASSED}}</ion-note>
        </ion-item>
        <ion-item class="total-summary">
          GPA
          <ion-note color="light" item-right>{{details.GPA}}</ion-note>
        </ion-item>
      </div>
    </div>
  </ion-card>

  <div *ngIf="results$ | async">
    <ion-card *ngFor="let result of semester3">
      <ion-list>
        <ion-item class="subj-title">
          {{result.MODULE_DESCRIPTION}}
        </ion-item>
        <ion-item>
          <ion-label>Grade</ion-label>
          <div item-content>{{ result.GRADE || 'N/A' }}</div>
        </ion-item>
        <ion-item>
          <ion-label>Grade Point</ion-label>
          <div item-content>{{ result.GRADE_POINT || 'N/A' }}</div>
        </ion-item>
        <ion-item>
          <ion-label>Internal Result Release Date</ion-label>
          <div item-content>{{ result.INTERNAL_RESULT_RELEASE_DATE || 'N/A' }}</div>
        </ion-item>
        <ion-item *ngIf="result.RECOMMENDATION">
          <ion-label>Recommendation</ion-label>
          <div item-content>{{ result.RECOMMENDATION }}</div>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card *ngFor="let result of semester2">
      <ion-list>
        <ion-item class="subj-title">
          {{result.MODULE_DESCRIPTION}}
        </ion-item>
        <ion-item>
          <ion-label>Grade</ion-label>
          <div item-content>{{ result.GRADE || 'N/A' }}</div>
        </ion-item>
        <ion-item>
          <ion-label>Grade Point</ion-label>
          <div item-content>{{ result.GRADE_POINT || 'N/A' }}</div>
        </ion-item>
        <ion-item>
          <ion-label>Internal Result Release Date</ion-label>
          <div item-content>{{ result.INTERNAL_RESULT_RELEASE_DATE || 'N/A' }}</div>
        </ion-item>
        <ion-item *ngIf="result.RECOMMENDATION">
          <ion-label>Recommendation</ion-label>
          <div item-content>{{ result.RECOMMENDATION }}</div>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card *ngFor="let result of semester1">
      <ion-list>
        <ion-item class="subj-title">
          {{result.MODULE_DESCRIPTION}}
        </ion-item>
        <ion-item>
          <ion-label>Grade</ion-label>
          <div item-content>{{ result.GRADE || 'N/A' }}</div>
        </ion-item>
        <ion-item>
          <ion-label>Grade Point</ion-label>
          <div item-content>{{ result.GRADE_POINT || 'N/A' }}</div>
        </ion-item>
        <ion-item>
          <ion-label>Internal Result Release Date</ion-label>
          <div item-content>{{ result.INTERNAL_RESULT_RELEASE_DATE || 'N/A' }}</div>
        </ion-item>
        <ion-item *ngIf="result.RECOMMENDATION">
          <ion-label>Recommendation</ion-label>
          <div item-content>{{ result.RECOMMENDATION }}</div>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
  <ng-template [ngIf]="this.block === false">
    <ion-card>
      <ion-card-header>
        <b>Marks And Grade Points</b>
      </ion-card-header>
      <ion-grid>
        <ion-row *ngFor="let interim of interimLegend$ | async">
          <ion-col col-3>
            <div *ngIf="interim.MARK_FROM">
              <ion-note class="notes">{{ (interim.MARK_FROM + '-' + interim.MARK_TO) || '' }}</ion-note>
            </div>
          </ion-col>
          <ion-col col-2>
            <ion-note class="notes">{{ interim.GRADE || '' }}</ion-note>
          </ion-col>
          <ion-col col-3>
            <ion-note class="notes">{{ interim.GRADING_POINT || '' }}</ion-note>
          </ion-col>
          <ion-col col-4>
            <ion-note class="notes">{{ interim.GRADE_DESCRIPTION || '' }}</ion-note>
          </ion-col>
        </ion-row>
        <ion-note>R = Awarding of module credit by passing module referral assessments.</ion-note>
        <ion-note margin-top>C = Awarding of module credit through compensation at the discretion of the Examination Board, based on the student's
          overall academic performance. No referral assessment is requried for module.</ion-note>
        <ion-note *ngIf="mpuLegend$ | async as mpu" margin-top>{{mpu[0].MPU || ''}}</ion-note>
      </ion-grid>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <b>Degree Classification</b>
      </ion-card-header>
      <ion-grid>
        <ion-row *ngFor="let classification of classificationLegend$ | async">
          <ion-col col-7>
            <ion-note class="notes">{{ classification.GRADE || '' }}</ion-note>
          </ion-col>
          <ion-col col-5>
            <ion-note class="notes">{{ classification.CLASSIFICATION || '' }}</ion-note>
          </ion-col>
        </ion-row>
        <ion-note *ngIf="determinationLegend$ | async as determination" margin-top>
          {{determination[0].DETERMINATION || ''}}</ion-note>
      </ion-grid>
    </ion-card>
  </ng-template>
</ion-content>
