<ion-header>
  <ion-navbar color="primary">
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="cover">
    <ng-template [ngIf]="(photo$ | async)">
      <img class="profile-photo" [src]="'data:image/jpg;base64,' + ((photo$ | async) || {}).base64_photo" onerror="this.src='assets/img/profile.svg'"
        alt="Avatar">
    </ng-template>
    <ng-template [ngIf]="(staffProfile$ | async)">
      <img class="profile-photo" [src]="(staffProfile$ | async)[0]?.PHOTO" onerror="this.src='assets/img/profile.svg'" alt="Avatar">
    </ng-template>
  </div>
  <ng-template [ngIf]="(profile$ | async)">
    <ion-card class="profile-info">
      <p class="bold">
        {{ (profile$ | async)[0].NAME }}</p>
      <p class="bold">
        {{ (profile$ | async)[0].STUDENT_NUMBER }}
      </p>
    </ion-card>
    <ion-card class="ion-card-style">
      <ion-card-content class="text-left">
        <p class="bold">Country:</p>
        <p>{{ (profile$ | async)[0].COUNTRY }}</p>
        <br class="break">
        <p class="bold">Current Intake Code:</p>
        <p>{{ (profile$ | async)[0].INTAKE_CODE }}</p>
        <br class="break">
        <p class="bold">Programme:</p>
        <p>{{ (profile$ | async)[0].PROGRAMME }}</p>
        <br class="break">
        <p class="bold">Programme Leader:</p>
        <p>{{ (profile$ | async)[0].PL_NAME }}</p>
        <br class="break">
        <p class="bold">Mentor Name:</p>
        <p>{{ (profile$ | async)[0].MENTOR_NAME }}</p>
        <br class="break">
      </ion-card-content>
    </ion-card>
    <ion-card class="ion-card-style">
      <button margin-bottom ion-item *ngFor='let p of pages' [navPush]='p.component'>
        {{ p.title }}
        <ion-icon item-left [name]='p.icon'></ion-icon>
      </button>
    </ion-card>
  </ng-template>

  <!-- Staff Profile -->
  <ng-template [ngIf]="(staffProfile$ | async)">
    <ion-card class="profile-info">
      <p class="bold">
        {{ (staffProfile$ | async)[0].FULLNAME }}</p>
    </ion-card>
    <ion-card class="ion-card-style">
      <ion-card-content class="text-left">
        <p class="bold">Title:</p>
        <p>{{ (staffProfile$ | async)[0].TITLE }}</p>
        <br class="break">
        <p class="bold">Nationality:</p>
        <p>{{ (staffProfile$ | async)[0].NATIONALITY }}</p>
        <br class="break">
        <p class="bold">Current Job Title:</p>
        <p>{{ (staffProfile$ | async)[0].CURRENT_JOB_TYPE }}</p>
        <br class="break">
        <p class="bold">Department:</p>
        <p>{{ (staffProfile$ | async)[0].DEPARTMENT }}</p>
        <br class="break">
        <p class="bold">Department 2:</p>
        <p>{{ ((staffProfile$ | async)[0].DEPARTMENT2 ) || 'N/A'}}</p>
        <br class="break">
        <p class="bold">Department 3:</p>
        <p>{{ ((staffProfile$ | async)[0].DEPARTMENT3) || 'N/A'}}</p>
        <br class="break">
      </ion-card-content>
    </ion-card>
  </ng-template>

</ion-content>
