page-profile {
  .cover {
    text-align: center;
    padding-top: 40px;
    width: 100%;
    height: 250px;
    background-image: url(../assets/img/profile-back.jpg);
  }

  .profile-photo {
    width: auto;
    height: 80%;
    border-radius: 10%;
    border: 2px solid #ffffff;
  }

  .profile-info {
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 100%;
    border: none;
  }

  .bold {
    font-weight: bold;
    color: color($colors, text-color);
  }

  .ion-card-style {
    margin: 10px 0 0 0;
    text-align: center;
    width: 100%;
  }

  .text-left {
    text-align: left;
  }

  .break {
    display: block;
  }

  ion-card {
    margin: 10px 0 0 0;
    text-align: center;
    width: 100%;
  }

  ion-card-content p {
    line-height: 1.8;
    text-align: center;
  }

}
