<ion-header>
  <ion-navbar color="primary">
    <ion-title>News</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="main-content" (swipe)='swipe($event)'>
    <ion-card tappable *ngFor="let item of items$ | async" (click)="openModal(item)">
      <img [src]="item.field_news_image[0].url">
      <ion-card-content color='light'>
        {{ item.title[0].value }}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
