<ion-header>
  <ion-navbar color="primary">
    <ion-title>Operation Hours</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-refresher pullMax="400" pullMin="60" (ionRefresh)="get(selectedService, $event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let service of services">
    <ion-card-header ion-item (click)="get(service.id)">
      <ion-icon [name]="service.icon" [style.color]="service.fg" item-start></ion-icon>
      {{ service.name }}
    </ion-card-header>
    <ion-card-content *ngIf="selectedService === service.id" [@easeOut]>
      <ng-template ngFor let-item [ngForOf]="hours$ | async">
        <article [innerHTML]="sanitize(item.body[0].value)" [@easeIn]></article>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>
