<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Notification
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items" (click)="openBasicModal(item)">
      <ion-icon name="mail" item-left></ion-icon>
      <h2>{{ item.title }}</h2>
    </ion-item>
  </ion-list>
</ion-content>