<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="courses$ | async">{{this.selectedIntake || 'Attendance'}}</ion-title>
    <ion-buttons end>
      <button color="light" ion-button outline small (click)="showActionSheet()">
        Intakes
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="main-content" (swipe)='swipe($event)'>
    <div class="cover" *ngIf="percent">
        <ion-label class="current"><b>{{percent + '%'}}</b></ion-label>
        <round-progress class="circle-progress" [current]="percent" max="100" [radius]="90" [rounded]="true"
        [color]="averageColor" background="#d7d8da" stroke="15"></round-progress>
    </div>

    <ion-card margin-bottom *ngFor="let a of attendance$ | async">
      <ion-item color="light-shade" class="subj-title">
        {{ a.MODULE_ATTENDANCE }}
      </ion-item>
      <div class="progress-bar" [style.width]="a.PERCENTAGE + '%'" [style.background]="(a.PERCENTAGE >= 80 && a.PERCENTAGE <= 100) ? '#0dbd53' : '#f04141'"></div>
      <ion-item class="transparent">
        Classes
        <div item-content>
          {{ (a.TOTAL_CLASSES - a.TOTAL_ABSENT) + '/' + a.TOTAL_CLASSES + ' (' + a.PERCENTAGE + '%)' }}
        </div>
      </ion-item>
      <ion-item class="transparent">
        Exam Eligibility
        <div item-content [style.font-weight]="'bold'" [style.color]="a.EXAM_ELIGIBILITY === 'Eligible' ? '#0dbd53' : '#f04141'">{{ a.EXAM_ELIGIBILITY }}</div>
      </ion-item>
    </ion-card>
    <ion-card class="legend" *ngIf="legend$ | async as legend">
      <ion-item class="legend-title">
        Legend
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            BA
          </ion-col>
          <ion-col col-10>
            {{ (legend || [{}])[0]?.BA }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>
            BF
          </ion-col>
          <ion-col col-10>
            {{ (legend || [{}])[0]?.BF }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>
            BD
          </ion-col>
          <ion-col col-10>
            {{ (legend || [{}])[0]?.BD }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>
            N/A
          </ion-col>
          <ion-col col-10>
            Not Applicable
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>
            ***
          </ion-col>
          <ion-col col-10>
            Check on final week of your course schedule
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>
