.side-menu-item {
  background: none;
  color: color($colors, text-color);
  height: 50px;
}

.menu-content {
  background-color: color($colors, light-tint);
}

.activeHighlight {
  background-color: map-get($colors, highlighter);
}

.spacer-5 {
  width: 10px;
  height: 3px;
}

.ion-icon {
  color: color($colors, text-color);
}

.main-content{
  height: 100%;
}
