<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{ (date[wday.indexOf(selectedDay)] | date) || 'Timetable' }}
    </ion-title>
    <ion-buttons end>
      <button color="light" ion-button outline small (click)="presentActionSheet()">
        {{ intake || 'Intakes' }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content (swipe)="swipe($event)">
  <ion-refresher pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-segment *ngIf="availableDays" [(ngModel)]="selectedDay">
    <!-- Use CSS for dynamically updated segment -->
    <ion-segment-button *ngFor="let d of wday" [value]="d" [style.display]="availableDays.indexOf(d) !== -1 ? 'inline-block' : 'none'">
      {{ d }}
    </ion-segment-button>
  </ion-segment>

  <ion-card *ngFor="let t of timetable$ | async | classes:intake | theday:selectedDay"
    [style.borderLeft]="'1rem solid ' + strToColor(t.MODID)">
    <ion-card-header>
      {{ t.MODID }}
    </ion-card-header>
    <ion-card-content>
      <ion-label no-margin>
        <ion-icon padding-right name="time"></ion-icon>
        <b>{{ t.TIME_FROM }}</b> -
        <b>{{ t.TIME_TO }}</b>
      </ion-label>
      <ion-label no-margin>
        <ion-icon padding-right name="locate"></ion-icon>
        {{ t.ROOM }} │ {{ t.LOCATION }}
      </ion-label>
      <ion-label no-margin>
        <a *ngIf="t.STAFFNAME" navPush="StaffDirectoryInfoPage" [navParams]="{id: t.LECTID}">
          <ion-icon padding-right name="contact"></ion-icon>
          {{ t.STAFFNAME }}
        </a>
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!selectedDay">
    <ion-card-content>
      <p *ngIf="intake">Hooray! No classes this week! :D</p>
    </ion-card-content>
  </ion-card>
</ion-content>
