page-timetable {
  ion-content ion-card-content a {
    text-decoration: none;
  }

  ion-content ion-card-content ion-icon {
    vertical-align: -1.5px;
    padding-left: 4px;
  }

  ion-content ion-card-header + ion-card-content ion-label:nth-child(odd) {
    background-color: #eceff1;
  }

  .toolbar-ios ion-title {
    padding: 0 12px 1px;
  }
  
  .toolbar-title-ios {
    text-align: left;
  }
}
