lecturer-timetable {
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .small {
    font-size: small;
  }

  .right {
    float: right;
  }

  .name {
    font-family: sans;
  }

  .schedule-week {
    margin-bottom: 12px;
  }

  .schedule-week-head {
    font-size: large;
    margin: 15px 5px;
  }

  .schedule-day {
    margin-top: 8px;
    display: flex;
  }

  .schedule-day-head {
    background-color: lightgray;
    width: 50px;
    height: 50px;
    margin-right: 8px;
    border-radius: 100%;
    font-family: sans-serif;
    font-weight: lighter;
    flex-direction: column;
  }

  .schedule-day-body {
    flex: 1;
  }

  .event {
    background-color: lightblue;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 3px;
  }
}
